# Simulación Segundo Parcial de Base de Datos

BASE DE DATOS – 2024
Trabajo Práctico: Simulación Segundo Parcial de Base de Datos

Utilizar la base de datos de SakilaDB

# Librerías

In [1]:
import sqlite3

conn = sqlite3.connect('sakila.db')

cursor = conn.cursor()

1. Encontrar los clientes que han realizado más de 5 alquileres

In [ ]:
query = """
SELECT
"""

In [ ]:
# Ejecutar la consulta
cursor.execute(query)

# Obtener y mostrar los resultados
results = cursor.fetchall()
for row in results:
    print(row)

# Cerrar la conexión
conn.close()

2. Obtener el nombre de las películas que pertenecen a la categoría 'Comedy'

In [ ]:
query2 = """
SELECT
"""

In [ ]:
# Ejecutar la consulta
cursor.execute(query2)

# Obtener y mostrar los resultados
results = cursor.fetchall()
for row in results:
    print(row)

# Cerrar la conexión
conn.close()

3.1. Cree una función Python llamada convertir_a_mayusculas que tome una cadena de texto y la convierta a mayúsculas.

3.2. Registra esta función como una UDF en SQLite.

3.3. Realiza una consulta SQL que utilice la función convertir_a_mayusculas para devolver todos los nombres en mayúsculas.